

@media(max-width:480px){
  
  .content{
    padding: 0;
    margin: 0;
  }
  .content img{
    width: 80%;
  }
  .line{
    padding: 18px;
    width: 80%;
  }
  h1{
    font-size: 34px;
    margin: 0;
  }
  .content h2{
    margin: 0;
  }
  p{
    font-size: 18px;
    margin-bottom: 30px;
  }
  h2{
    font-size: 20px;
  }
  .gototop{
    width: 40px;
    height: 40px;
    right: 30px;
    bottom: 30px;
  }
  .gototop i{
    font-size: 20px;
    line-height: 40px;
  }
  }